@model List<SubCategoria>

@if (ViewBag.categorias.Count > 0)
{
    <form>

        @if (Model.Count > 0)
        {
            <label>Sub-categorias cadastradas</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sub-Categoria</th>
                        <th scope="col">Categoria</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subCategoria in Model)
                    {
                        <tr>
                            <td class="tipo">@subCategoria.Tipo</td>
                            <td class="tipo-categoria">@subCategoria.Categoria.Tipo</td>
                            <td><button type="button" class="btn btn-primary btn-editar">Editar</button></td>
                            <td><button type="button" class="btn btn-danger btn-deletar">Deletar</button></td>
                            <input type="hidden" class="indicador" value="@subCategoria.Indicador" />
                            <input type="hidden" class="identificador-unico" value="@subCategoria.IdentificadorUnico" />
                            <input type="hidden" class="identificador-unico-categoria" value="@subCategoria.Categoria.IdentificadorUnico" />
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="form-group">
            <label>Selecione a categoria</label>
            <select class="form-control" id="identificador-unico-categoria-nova">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.IdentificadorUnico">@categoria.Tipo</option>
                }
            </select>
        </div>

        <div class="form-group">
            <span id="span-tipo"></span>
            <input type="text" class="form-control" id="tipo" placeholder="Digite a nova sub-categoria">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="indicador" value="0" checked>
                        <label class="form-check-label">
                            Item separado pela cozinha
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="indicador" value="1">
                        <label class="form-check-label">
                            Item separado pelo bar
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="button" class="btn btn-success" id="btn-cadastrar">Cadastrar</button>
    </form>

    <partial name="_ModalAtualizar" />
}
else
{
    <div class="alert alert-warning text-center">
        Para cadastrar uma sub-categoria deve existir ao menos uma categoria
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/subCategoria/subCategoria.js"></script>
    <script type="text/javascript" src="~/js/comumHelper.js"></script>
}