@model List<SubCategoria>

@if (ViewBag.categorias.Count > 0)
{
    <form>

        @if (Model.Count > 0)
        {
            <label>Sub-categorias cadastradas</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sub-Categoria</th>
                        <th scope="col">Categoria</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subCategoria in Model)
                    {
                        <tr>
                            <td class="sub-categoria-tipo">@subCategoria.Tipo</td>
                            <td class="categoria-tipo">@subCategoria.Categoria.Tipo</td>
                            <td><button type="button" class="btn btn-primary" onclick="subCategoria.popularModalAtualizar(this);">Editar</button></td>
                            <td><button type="button" class="btn btn-danger" onclick="subCategoria.deletar(this);">Deletar</button></td>
                            <input type="hidden" class="sub-categoria-indicador" value="@subCategoria.Indicador" />
                            <input type="hidden" class="sub-categoria-identificador-unico" value="@subCategoria.IdentificadorUnico" />
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="form-group">
            <label>Selecione a categoria</label>
            <select class="form-control" id="categoria-identificador-unico">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.IdentificadorUnico">@categoria.Tipo</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Digite uma nova Sub-Categoria</label>
            <span id="valida-sub-categoria-tipo"></span>
            <input type="text" class="form-control" id="sub-categoria-tipo" placeholder="Digite a nova sub-categoria">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sub-categoria-indicador" value="0" checked>
                        <label class="form-check-label">
                            Item separado pela cozinha
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sub-categoria-indicador" value="1">
                        <label class="form-check-label">
                            Item separado pelo bar
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <button type="button" class="btn btn-success" onclick="subCategoria.cadastrar(this);">Cadastrar</button>
    </form>

    <partial name="_ModalAtualizar" />
}
else
{
    <div class="alert alert-warning text-center">
        Para cadastrar uma sub-categoria deve existir ao menos uma categoria
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/model/CategoriaModel.js"></script>
    <script type="text/javascript" src="~/js/model/SubCategoriaModel.js"></script>
    <script type="text/javascript" src="~/js/categoria/Categoria.js"></script>
    <script type="text/javascript" src="~/js/subCategoria/SubCategoria.js"></script>
    <script type="text/javascript" src="~/js/Helper.js"></script>
    <script type="text/javascript">
        let subCategoria = new SubCategoria();
    </script>
}